html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

div {
    display: block;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.login-background {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url("../image/login-bg.png")no-repeat;
    @include background-size(cover);
    position: relative;

    .register {
        position: absolute;
        left: 50%;
        bottom: 5%;
        @include transform(translate(-50% , -5%));

        a.register-link {
            text-align: center;
            color: rgba(255,255,255,0.7);
            font-size: 18px;
            display: block;
            text-decoration: none;
        }
    }

    .login-container {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 2;
        @include transform(translate(-50% , -50%));
        width: 300px;
        height: auto;

        .form-login {
            padding: 10px 0;
            width: 100%;
            box-sizing: border-box;
            display: block;

            .text-input {
                margin-top: 45px;
                position: relative;
            }

            .password-input {
                margin-top: 20px;
                position: relative;
            }

            .form-button {
                margin: 34px 0;
            }

            a.forgot-pwd {
                text-align: center;
                color: rgba(255,255,255,0.7);
                font-size: 18px;
                display: block;
                text-decoration: none;
            }
        }
    }
}

.form-button {
    text-align: center;
}

.pdlr-10 {
    padding: 0 10px;
}

.mail-img {
    position: relative;
    top: 6px;
}

.password-img {
    position: relative;
    top: 10px;
    left: 5px;
}

button {
    outline: none;
    border: none;
    display: inline-block;
    width: 238px;
    height: 47px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-radius: 20px;

    &.btn-login {
        background-color: #eec329;
        color: rgba(255,255,255,0.9);

        &:hover {
            background-color: rgba(0,0,0,0.7);
        }
    }
}

input[type="password"],
input[type="text"] {
    display: inline-block;
    height: 54px;
    box-sizing: border-box;
    outline: none;
    border-radius: 7px;
    padding: 10px 10px 10px 60px;
    width: 100%;
    font-size: 20px;
    background-color: rgba(0,0,0,0.7);
    border: 1px solid #000;
    color: #fff;
}

input[type="password"] + label,
input[type="text"] + label {
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    line-height: 54px;
    color: #fff;
    border-radius: 7px 0 0 7px;
    padding: 0 10px;
    @include transform(translate(0 , 0));
}
@media (min-width:768px) {
    .login-background {
        .login-container{
          width:395px;
        }
        .register {
            bottom: 7%;
        }
    }
}
@media (min-width:992px) {}
@media (min-width:1200px) {}
